// @media screen and (min-width: 1550px) {
//   .container-all {
//     display:flex;
//   }

//   .card-room {
//     width: 66%;
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     align-items: start;
//     grid-template-rows: min-content;
//   }

//   .infos_options {
//   display:flex;
//   }

//    #map {
//     width: 34%;
//     display: block;
//     min-height:84vh;
//     position: sticky;
//     top: 40px;
//     max-height: 150vh;
//   }
// }

// @media screen and (max-width: 1550px) {
//   .card-room {
//     width: 100%;
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-template-rows: min-content;
//   }

//   .infos_options{
//   display:flex;
//   }

//   #map {
//     display: block;
//     min-height:80vh;
//   }
// }

// @media screen and (max-width: 1100px) {
//   .card-room {
//     width: 100%;
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-template-rows: min-content;
//   }

//   .infos_options {
//   display:flex;
//   }

//   #map {
//     display: block;
//     min-height: 70vh;
//   }
// }

// @media screen and (max-width: 1000px) {
//   .card-room {
//     display: grid;
//     grid-template-columns: 1fr;
//   }

//   .infos_options {
//   display:flex;
//   }

//   #map {
//     display: block;
//     min-height:50vh;
//   }
// }

// @media screen and (max-width: 700px) {
//   .cards-room {
//     grid-template-columns: 1fr;
//   }

//   .infos_options {
//   display:flex;
//   }

//   #map {
//     display: block;
//     min-height: 50vh;
//   }
// }

// @media screen and (max-width: 450px) {
//   .cards-room {
//     grid-template-columns: 1fr;
//     display: block;
//     min-height: 50vh;
//   }

//   .infos_options {
//   display: block;
//   }

//   #map {
//     display: block;
//     min-height: 50vh;
//   }
// }


