
$height: 300px;
.card-show {
  background-size: cover;
  background-position: center;
  height:auto;
  width:100%;
  color: gray;
  font-size: 24px;
  border-left:5px solid #D71B27;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 40px;
  padding-left: 5px;
}
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}
.carding{
  height: $height;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
}
.category
{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
.cardo{
  height: $height;
  display:flex;
  flex-direction: column;
  padding:24px;
  .comment{
    width:100%;
  align-items:center;
  }
}
.container-reviews{
  display:flex;
  flex-direction: row;
  justify-content: space-around;

}
textarea {
    width: 600px;
    height: 300px;
    padding: 20px;
    border: 0px;
}
#reviews{
  margin-top:20px;
  padding :15px;
  width:400px;
  height:250px;
  overflow: scroll;
  overflow-style:none;
  padding: 20px;

}

