<h1>Reservation</h1>
<div>
  <h3><% @reservations.each do |reservation| %>
      <%= reservation.day %>

      <%= link_to 'Delete a reservation', reservation_path(reservation), method: :delete %>
      <%= link_to 'Show a reservation', reservation_path(reservation) %>
      <% end %>
  </h3>

</div>
