<div class="adding">
<h2>Make a reservation</h2>

<%= simple_form_for [@arcade, @reservation ] do |f| %>
  <%= f.input       :day, as: :date, html5:  :true, :input_html => { :class => 'flatpickr' } %>
  <%= f.button      :submit %>
<% end %>
</div>
