  .btn-blue {
  color: #100B72;
  font-size: 15px;
  background-color: transparent;
  border: transparent;

    a {
      color: inherit;
      text-decoration: none;
    }
  }


  .btn-red {
  color: #EB040E;
  font-size: 15px;

    a {
      color: inherit;
    }
  }


  .btn-yellow {
  color: #FFCC01;
  font-size: 15px;

    a {
      color: inherit;
    }
  }
