h1{
  margin: 10 20px;
}

body .container-all {
// body .container {
  margin: 0 auto;
}

.cards-arcade {
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title {
  display: flex;
  justify-content: space-between;
}


.infos_options{
  display:flex;
}

.infos{
  justify-content: space-between;
  padding: 8px;
}

.photo{
  justify-content: space-between;
  align-items: flex-end;
}

.card-room-infos {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.card-arcade-options {
  display:flex;
  align-self: flex-end;
}

#map {
  margin:10px;
  border-radius: 5px;
  height: 600px;
}

.mapping{
  margin:0 -15px;
}

@media screen and (min-width: 900px) {
  .container-all {
    display:flex;
  }

  #map {
    width: 34%;
  }

  .card-room {
    width: 66%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }


  #map {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .cards-arcade {
    grid-template-columns: 1fr;
  }
  #map {
    display: block;
  }
}
