h1{
  margin: 10 20px;
}

body .container-all {
  display: flex;
  margin: 0;
}

.card-room {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  height: 100%;
}

.title {
   display: flex;
  justify-content: space-between;
}


.infos_options{
  display:flex;
}

.infos{
  display: flex;
  justify-content: space-between;
  padding: 13px;
}
.card-room-infos {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px;
  margin: 10px;
  }

.card-room-options {
display:flex;
align-self: flex-end;
}

#map {
  margin:10px;
}
