.container_cards{
  .card-room {
  overflow: hidden;
  background: white;

}

// .card-room > h2{

// }

.card-room .card-room-infos {
  padding: 16px;
  display: flex;
  // justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-room-infos{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
  margin: 15px 0;

}

// .card-room-options {
//   display:flex;

// }
}
