.img_user {
  width: 50px;
  height: 50px;
  margin: 15px;
}

.card-product{
  display: flex;
  flex-direction: column;
  margin-right: 20px;

}

.arcades-show {
  margin: O auto;
  width: 100%;
}


.card-category {
  color: lightgrey;
  font-size: 16px;
  font-weight: bold;
  border-left: 3px solid grey;
  padding-left: 10px;
}

.arcades {

  a {
    text-decoration: none;
    color: lightgrey;
  }
}
