.navbar-lewagon {
  justify-content: space-between;


  .form-inline {
  align-items: flex-end;
}
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


