.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background-image: url('https://jeux-jeu.fr/jeux-gratuit/arcade/pacman.png');


}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
