.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background-image: url('https://www.gif-maniac.com/gifs/45/44561.gif');
  background-position: center;
  background-size: cover;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
